@media screen and (max-width: 1190px) {
  .carousel__info h1 {
    font-size: 48px;
    line-height: 58px;
  }
}

@media screen and (max-width: 1180px) {
  .h3-title.two {
    font-size: 32px;
    line-height: 40px;
  }
  .categoryOther__info h4 a {
    font-size: 20px;
  }
  .categoryOther__item p {
    /* font-size: 15px; */
    margin: 0;
  }
}

@media screen and (max-width: 1080px) {
  .news__text h3 {
    font-size: 40px;
    line-height: 50px;
    max-width: 100%;
  }
}


@media screen and (max-width: 992px) {
  .aboutUs__right,
  .aboutUs__left {
    padding: 0;
  }
  .restaurants__info a {
    font-size: 18px;
  }
  .carousel__info h1 {
    font-size: 44px;
    line-height: 53px;
  }
  .restaurants__img {
    min-height: 200px;
    height: 200px;
  }
  .restaurants__evaluate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
  }
  .number {
    margin-top: 0;
  }
  .footer__social {
    text-align: center;
  }
  .footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .item__body > a {
    font-size: 20px;
    line-height: 30px;
  }
  .footer__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .video__cover {
    min-height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .carousel {
    min-height: 600px;
    height: 600px;
  }
  .carousel__info h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .categoryMain__info {
    width: 90%;
  }
}

@media screen and (max-width:767px) {
  .overlay .overlay__nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 736px) {
  .news__text h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .number__item {
    padding: 30px 10px;
  }
  .number__item p:first-of-type {
    font-size: 2em;
  }
  .video__cover {
    min-height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .header__menu .header__search {
    display: none;
  }
  .h3-title,
  .h3-title.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  .p-title {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .categoryMain__info h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .categoryMain__info span {
    font-size: 16px !important;
  }
  .restaurants__left {
    padding-right: 0;
  }
  .restaurants__right {
    padding-left: 0;
  }
  .number__item p{
    line-height: 1.6;
  }
}
@media screen and (max-width: 480px) {
  .carousel {
    min-height: 450px;
    height: 450px;
  }
  .carousel__info {
    margin-top: 50px;
  }
  .carousel__info a {
    margin-bottom: 28px;
  }
  .carousel__info h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .h3-title,
  .h3-title.two {
    font-size: 26px !important;
    line-height: 36px;
  }
  .categoryMain__info {
    bottom: 0;
    left: auto;
    width: 90%;
    transform: translateY(10%);
  }
  .categoryOther__item{
    padding: 30px 30px;
  }
  .btn-style{
    padding: 10px 21px;
  }
  .number__item p:last-of-type {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 415px) {
  .news__text h3 {
    font-size: 26px;
    line-height: 34px;
  }
}

@media screen and (max-width: 380px) {
  .video__cover {
    min-height: 300px;
  }
}