/* * RESPONSIVE HEADER   */

@media screen and (max-width: 1180px) {
  .h3-title.two {
    font-size: 32px;
    line-height: 40px;
  }
  .restaurants__img {
    margin: 40px 15px;
  }
  .restaurants__img img {
    height: 200px;
  }
  .categoryOther__info h4 a{
    font-size: 20px;
  }
  .categoryOther__item p{
    font-size: 15px;
    margin: 0;
  }
}
@media screen and (max-width: 992px) {
  .aboutUs__right,
  .aboutUs__left {
    padding: 0;
  }
  .restaurants__info a {
    font-size: 18px;
  }
  .carousel__info h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 600px) {
  .header__menu .header__search {
    display: none;
  }
  .h3-title,
  .h3-title.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  .p-title {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
}
.categoryMain__info h4{
    font-size: 18px;
    line-height: 28px;
}
.categoryMain__info span{
    font-size: 16px !important;
}
.restaurants__left{
    padding-right: 0;
}
.restaurants__right {
    padding-left: 0;
}
}
@media screen and (max-width: 480px) {
  .carousel {
    min-height: 450px;
    height: 450px;
  }
  .carousel__info {
    margin-top: 50px;
  }
  .carousel__info h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .aboutUs {
    padding: 0 !important;
  }
  .h3-title,
  .h3-title.two {
    font-size: 26px !important;
    line-height: 36px;
  }
  .categoryMain__info{
    bottom: 0;
    left: auto;
    width: 90%;
    transform: translateY(10%);
  }

}
