* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #404040;
}
/* * SHARED CODE */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 12px 45px;
  font-size: 1rem;
  line-height: 28px;
  border-radius: 0.25rem;
  margin-top: 48px;
}
.btn--white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  transition: all 0.5s;
}
.btn--white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}
.title h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.title h2 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.title--white h3 {
  color: #fff;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgb(22 28 45 / 70%);
  font-family: 'Quicksand', sans-serif;
}
.title--white p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
  margin: 16px 0px;
}
img {
  max-width: 100%;
  display: block;
}
/* * HEADER  */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header__content {
  padding: 40px 0 20px 0;
}
header .header__menu {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  gap: 20px;
}
#dinerNavbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.header__content .header__menu .navbar-brand {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
/* * SEARCH */
.header__menu .header__search {
  position: relative;
  border-radius: 6px;
}
.header__menu .header__search input {
  display: flex;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: rgb(22 28 45 / 70%);
  font-weight: 400;
  border-radius: 6px;
  position: relative;
  right: 0;
  background: #fff;
  outline: 0;
  border: 1px solid #fff;
}
.header__menu .header__search i {
  position: absolute;
  right: 20px;
  font-size: 15px;
  cursor: pointer;
}
.header__menu .header__switcher i {
  color: #eee;
  width: 20px;
  height: 20px;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
}
.header__content .header__btn button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}
/* * LIGHT MODE */
#myBody{
  background-color: #fff;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
/* * DARK MODE  */
.dark#myBody {
  background-color: #232220;
}
.dark h2, .dark .categoryOther__info h4 a {
  color: #fff;
}
.dark p{
  color: #c2d0da;
}
.dark .header__search input{
  background-color: #232220;
  border: none;
  color: #c2d0da;
}
.dark .categoryMain{
  background-color: #282828;
}
.dark .categoryOther__item{
  background-color: #232220;
  border: 1px solid;
}
.dark #switchButton .fa-sun {
  display: block;
}
.dark #switchButton .fa-moon {
  display: none;
}

/* * OVERLAY  */
.overlay.open {
  display: flex;
  justify-content: center;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(6 3 0 / 77%);
  overflow-y: scroll;
}
.overlay__nav {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-30%);
}
.overlay .overlay__nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}
.overlay .overlay__nav ul li {
  line-height: 3em;
}
.overlay .overlay__nav ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.overlay .overlay__nav ul li:hover a {
  color: #ff6600;
}
.overlay .overlay__close {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 72px;
  top: 55px;
  background: #ff6600;
  color: #fff;
  border: none;
  border-radius: 6px;
}
/* * CAROUSEL  */
.carousel {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  height: 700px;
}
.carousel__content {
  display: grid;
  align-items: center;
  height: 100%;
}
.carousel__info {
  max-width: 600px;
  text-align: left;
}
.carousel__info h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.carousel__info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-top: 24px;
}
.carousel__info a i {
  padding-left: 5px;
}
/* * ABOUT US  */
.aboutUs__left {
  padding: 0 15px;
}
.aboutUs__right {
  padding: 0 15px 0 48px;
}
/* * BOOKING  */
.booking {
  background-color: #ff6600;
}
.booking__info .icon {
  width: 70px;
  height: 70px;
  color: #ff6600;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.5s;
}
.booking__info .booking__left:hover i,
.booking__info .booking__right:hover i {
  color: #ffc600;
}
.booking__info .icon i {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}
.booking__info a {
  text-decoration: none;
  color: #232121;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 15px;
}
.booking__info p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
  margin: 8px 0px 0px;
}
.booking__img {
  position: relative;
  padding: 0;
  margin: 10px 0;
}
.booking__img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16 15 19 / 46%);
}
.booking__img img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  display: inline-block;
}
/* * CATEGORYMAIN  */
.categoryMain {
  background-color: #f7f7f7;
}
.categoryMain__img {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.categoryMain__img::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}
.categoryMain__item img {
  border-radius: 6px;
  transition: all 0.5s;
}
.categoryMain__img img:hover {
  opacity: 0.8;
}
.categoryMain__info {
  position: absolute;
  bottom: 50px;
  left: 40px;
  width: 95%;
  transform: translateY(37%);
}
.categoryMain__info a {
  color: #fff;
  text-decoration: none;
}
.categoryMain__info a h4 {
  margin-bottom: 0;
  margin-top: 1.5rem;
  font-weight: 700;
}
.categoryMain__info h6 {
  margin-top: 8px;
}
.categoryMain__info h6 span {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  letter-spacing: 1px;
}
/* * CATERYGOOTHER  */
.categoryOther__item {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border: 1px solid #eee;
}
.categoryOther__item:hover i {
  color: #fff;
  background-color: #ff6600;
  transition: 0.3s ease-in-out;
}

.categoryOther__icon i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: rgb(130 115 252 / 5%);
  border-radius: 6px;
  color: #ff6600;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

.categoryOther__info h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
  text-decoration: none;
}
/* * BACK TO TOP  */
.backToTop{
  position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    outline: none;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    background: #ff6600;
    padding: 0;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    opacity: 0;
}
.backToTop:hover{
  color: #fff;
}
.cd-top--is-visible {
  opacity: 1;
}